$normal_link_color: #7f7669;
$active_link_color: #4c4338;

#example_4.example_content {
  border: 10px solid #d6d1b9;
  padding: 0px;
  #js_navigation {
    float: left;
    width: 180px;
    background-color: #d6d1b9;
    ul {
      padding-left: 5px;
      ul {
        padding-left: 20px; } }
    a {
      text-decoration: none;
      color: $normal_link_color;
      &:hover, &:active {
        text-decoration: underline; } }
    li {
      border: medium none;
      list-style-image: none;
      list-style-type: none;
      padding: 2px;
      a.selected {
        color: $active_link_color;
        text-decoration: underline; }
    } }
  .content {
    padding: 10px;
    float: left;
    } }
